# created by virtualenv automatically
.vcf
__pycache__
pyenv.cfg
Lib
Scripts
Include
data
temp
Temp
.vscode
dbNSFP4.3a
env
test_data
./web_app/env
./web_app/Temp
./web_app/.vscode
./web_app/__pycache__
./web_app/test_data
./web_app/pyenv.cfg

./database/pyenv.cfg
./database/__pycache__
./database/data
./database/db_backups/*.sql
database/db_backups/*.sql
./database/db_backups/**.sql
database/db_backups/**.sql
./database/.vscode
./database/temp/
./database/test_data
database/db_backups/civic.sql
