{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="content-container bg-light">
    <div class="container mx-auto py-5 bg-light">
        <h2 class="col-6 fs-2 fw-bold">Variant Scanner</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptas quas voluptate repellat deleniti praesentium impedit veritatis blanditiis quidem a facilis odio architecto, perferendis cum aspernatur alias voluptatibus ad voluptatem.
          Labore suscipit, laborum facilis harum, modi iure maxime molestiae sint voluptatem aliquid consequuntur et corrupti provident reprehenderit unde, iste error quasi veritatis aut? Maiores aut iusto aliquam a ducimus neque.
          Minima temporibus id quod aliquam ab itaque in quisquam eveniet dicta sequi illum, recusandae cum earum assumenda? Pariatur, tempora fugit similique autem fuga ab sunt iure, perspiciatis repellat placeat ea?
         </p>
        
      <form action="/"  method = "POST" 
        enctype = "multipart/form-data">
        <div class="form-group">
          <label for="vcfForm" class="fs-3 fw-bold">Upload a VCF file</label>
          <p><input type="file" class="form-control-file" id="vcfForm" name="vcf_file"></p>
          <p><input type = "submit" value="Submit"/></p>
        </div>
      </form>
    </div>
</div>
{% endblock %}