{% extends "layout.html" %}
{% block title %}Anasayfa{% endblock %}
{% block content %}
<div class="content-container bg-light">
    <div class="container mx-auto py-5 bg-light">
        <h2 class="col-6 fs-2 fw-bold">Varyant Veritabanı</h2>
        <p>
          Varyant veritabanı kamuya açık birçok varyant veritabanının derlenerek tek bir veritabanında birleştirilmesi,
           kullanılan veritabanlarının lokalizasyonu ile klinik kullanıma sunulmasını amaçlar.
           Varyant hastalık ilişkilerinden, önerilen ilaçlara kadar bir çok detaylı bilgiyi bünyesinde barındırır.
           Uygulamaya kullanıcılar tarafından yeni varyant kaydı eklenmesi mümkündür. Açık kaynak kodludur.
          </p>
          
      <form action="/"  method = "POST" 
        enctype = "multipart/form-data">
        <div class="form-group">
          <label for="vcfForm" class="fs-3 fw-bold">Bir VCF dosyası yükleyin</label>
          <p><input type="file" class="form-control-file" id="vcfForm" name="vcf_file"></p>
          <p><input type = "submit" value="Gönder"/></p>
        </div>
      </form>
    </div>
</div>
{% endblock %}