{% extends "layout.html" %}
{% block title %}Yeni Varyant Kaydı{% endblock %}
{% block content %}
<div class="content-container bg-light">
    <div class="container mx-auto py-5 bg-light">
        <h5 class="col-6 fs-2 fw-bold">Veritabanına Yeni Varyant Kaydı Ekleyin</h5>
        <p>
        Sadece VCF dosya formatı geçerlidir. VCF dosyası sırasıyla "chrom pos ref alt info" sütunlarını içermelidir.
        </p>
          
      <form action="/veri-ekle"  method = "POST" 
        enctype = "multipart/form-data">
        <div class="form-group">
          <label for="vcf_insert_form" class="fs-3 fw-bold">Bir VCF dosyası yükleyin</label>
          <p><input type="file" class="form-control-file" id="vcf_insert_form" name="insert_vcf_file"></p>
          <p><input type = "submit" value="Gönder"/></p>
        </div>
      </form>
    </div>
</div>
{% endblock %}