<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Varyant Tarayıcı|{% block title %}{% endblock %}</title>
  <!-- Title of the web page changes dynamically  "Covid19|Home"   or   "Covid19|Global" -->
  <!-- Import the Bootstrap stylesheet -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Import our custom stylesheet -->
  <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='custom/css/app.css') }}" /> 

  <!-- Import datatables stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.12.1/b-2.2.3/b-colvis-2.2.3/datatables.min.css"/>



  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" /> 
</head>

<body>
  <div id="page-container">
    <div id="content-wrap">
      <header>
        <nav class=" navbar navbar-expand-lg navbar-light bg-secondary">
          <div class="container-fluid">
            <div class="row w-100 d-flex justify-between">
              <div class="col-8">
                <div class="row d-flex">
                  <a class="navbar-brand col-3 me-0 fw-bold" href="{{ url_for('home_page') }}">VARYANT TARAYICI</a>
                  <ul class="navbar-nav col-4 pe-5 flex-row">
                    <li class="nav-item">
                      <a class="nav-link fw-bold" aria-current="page" href="{{ url_for('home_page') }}">Anasayfa</a>
                    </li>
                    <li>
                      <a class="nav-link fw-bold" aria-current="page" href="{{ url_for('dict_page') }}">Terimler</a>
                    </li>
                  </ul>
              </div>
            </div>
          </div>
        </nav>
      </header>

      <div class="content-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <!-- <strong>Title</strong> --> {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
        <!-- This content part is changing according to Results -->
        <!-- Jinja template engine renders it -->
      </div>

      <footer id="footer" class="border-top text-center text-lg-start w-100 mt-5 fw-bold">
        <!-- Copyright -->
        <div class="text-center p-3">
          &copy; 2022 ITU Bioinformatik Laboratuvarı
        </div>
        <!-- Copyright -->
      </footer>
    </div>
  </div>
  
  {% block script %}
    <!-- Bootstrap Javascripts -->  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Import Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Import DataTables package --> 
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.12.1/b-2.2.3/b-colvis-2.2.3/datatables.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.colVis.min.js"></script>
     -->
    
    <!-- Import our custom JavaScript -->
    <script src="{{ url_for('static', filename='custom/js/app.js') }}"></script>
  {% endblock %}

</body>

</html>