{% extends "layout.html" %}
{% block title %}Variant Info{% endblock %}
{% block content %}
<div class="container mx-5 my-3">
    <div class="d-flex justify-content-between">
        <p class="col-6 fs-2 fw-bold">Variant Information</p>
        <a class="col-6 button" href="{{ url_for('home_page') }}">Upload another VCF file</a>
    </div>

    <table id="variant-table" class="table table-hover table-bordered table-responsive">
        <thead class="thead-dark">
        <tr>
            {% for col in column_names %}
            <th class={{col}}>{{col}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in row_data %}
        <tr class="variant-table-row">
            {% for col, row_ in zip(column_names, row) %}
            <td>{{row_}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    </table>

    <!-- {% for table in tables %}
    {{titles[loop.index]}}
    {{ table|safe }}
    {% endfor %} -->
    <!-- <table class="table">
        <thead>
            <tr>
              <th></th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
        </tr>
        </tbody>
    </table> -->
</div>

{% endblock %}